
# Server specific files
/app/deploy/*/fabric.py
/app/deploy/*/settings.conf
/app/deploy/*/virtualhost.conf

/app/deploy/settings.conf
/app/upload/

.vagrant
*.pyc
*.pyo
*.swp
*.swo
private/
venv/
htmlcov/
cover/
coverage.xml
nosetests.xml
.coverage

dist/
*.egg-info
.eggs/
mock-*
nosexcover-*
.ropeproject/
.idea/
.coveralls.yml
pylint.out

app/ssl/server.crt
app/ssl/server.key
