application.cfg
vagrant/.vagrant
*.pyc
*.pyo
*.swp
*.swo
private/
venv/
htmlcov/
cover/
coverage.xml
nosetests.xml
.coverage

*.egg-info
mock-*
nosexcover-*
.ropeproject/
.idea/
.coveralls.yml
pylint.out

server.crt
server.key
