{% extends "layout.html" %}

{% block content %}

    <h1>List of API Functions</h1>

<ol>
    <li>
        <a href="https://localhost:5000/api/list_subject_events?subject_id=1">
        /api/list_subject_events?subject_id=1 
        </a>
    </li>

    <li>
        <a href="https://localhost:5000/api/list_subject_event_files?subject_id=1&event_id=1">
        /api/list_subject_event_files?subject_id=1&event_id=1 
        </a>
    </li>

    <li>
        <a href="https://localhost:5000/api/">
        
        </a>
    </li>
    <li>
        <a href="https://localhost:5000/api/">
        
        </a>
    </li>

    <li>
        <a href="https://localhost:5000/api/">
        
        </a>
    </li>

    <li>
        <a href="https://localhost:5000/api/">
        
        </a>
    </li>

    <li>
        <a href="https://localhost:5000/api/">
        
        </a>
    </li>

    <li>
        <a href="https://localhost:5000/api/">
        
        </a>
    </li>




<li> Logs: <a href="https://localhost:5000/api/list_logs?per_page=5&page_num=1">
        /api/list_logs?per_page=5&page_num=1</a>

<li> Files (for an event): <a href="https://localhost:5000/api/list_of_files/1">
        /api/list_of_files/1</a>

<li> Subjects: <a href="https://localhost:5000/api/list_of_subjects?per_page=1">
        /api/list_of_subjects?per_page=1</a>
</ol>


{% endblock %}
