{% extends "layout.html" %}

{% block content %}

    <h1>List of API Functions</h1>

<ol>
    <li>
        <a href="https://localhost:5000/api/list_subject_events?subject_id=1">
        /api/list_subject_events?subject_id=1 
        </a>
    </li>

    <li>
        <a href="https://localhost:5000/api/list_subject_event_files?subject_id=1&event_id=1">
        /api/list_subject_event_files?subject_id=1&event_id=1 
        </a>
    </li>

    <li>
        <a href="https://localhost:5000/api/find_subject?name=001">
        /api/find_subject?name=01 
        </a>
    </li>
    <li>
        <a href="https://localhost:5000/api/list_events">
        /api/list_events
        </a>
    </li>

    <li>
        <a href="https://localhost:5000/api/upload">
        /api/upload 
        </a>
    </li>

    <li>
        <a href="https://localhost:5000/api/download_file?file_id=1">
        /api/download_file?file_id=1
        </a>
    </li>

    <li>
        <a href="https://localhost:5000/api/save_user">
        post /api/save_user
        </a>
    </li>

    <li>
        <a href="https://localhost:5000/api/list_users">
        /api/list_users
        </a>
    </li>

    <li> Logs: <a href="https://localhost:5000/api/list_logs?per_page=5&page_num=1">
        /api/list_logs?per_page=5&page_num=1</a>

    <li>
        <a href="https://localhost:5000/api/">
        </a>
    </li>

</ol>


{% endblock %}
