{% extends "layout.html" %}

{% block content %}

    <h1>List of API Functions</h1>

<ol class="text-left">
    <li> <a href="/api/list_subject_events?subject_id=1">                 /api/list_subject_events?subject_id=1 </a> </li>
    <li> <a href="/api/list_subject_event_files?subject_id=1&event_id=1"> /api/list_subject_event_files?subject_id=1&event_id=1 </a> </li>
    <li> <a href="/api/find_subject?name=001">                            /api/find_subject?name=01 </a> </li>
    <li> <a href="/api/list_events">                                      /api/list_events </a> </li>
    <li> <a href="/api/upload">                                           /api/upload </a> </li>
    <li> <a href="/api/download_file?file_id=1">                          /api/download_file?file_id=1 </a> </li>
    <li> <a href="/api/save_user">                                        /api/save_user </a> </li>
    <li> <a href="/api/list_users">                                       /api/list_users </a> </li>
    <li> <a href="/api/list_logs?per_page=5&page_num=1">                  /api/list_logs?per_page=5&page_num=1</a> </li>
    <li> <a href="/api/list_local_subjects">                              /list_local_subjects </a> </li>

    <!-- ADMIN -->
    <li> <a href="/api/activate_account">                                 /api/activate_account </a> </li>
    <li> <a href="/api/deactivate_account">                               /api/deactivate_account </a> </li>
    <li> <a href="/api/send_verification_email">                          /api/send_verification_email </a> </li>
    <li> <a href="/api/verify_email">                                     /api/verify_email</a> </li>
    <li> <a href="/api/expire_account">                                   /api/expire_account  </a> </li>
    <li> <a href="/api/extand/account">                                   /api/extend_account</a> </li>

    <li> <form method="post" action="/api/import_redcap_subjects"> <button>/api/import_redcap_subjects </button> </form>
    <li> <form method="post" action="/api/import_redcap_events"> <button>/api/import_redcap_events </button> </form>
</ol>


{% endblock %}
