{% extends "layout.html" %}
{% import 'macros.html' as macros %}

{% block login %}
    {% call macros.render_form(form,
                    action_url=url_for('index'),
                    action_text='Login',
                    btn_class='btn btn-default',
                    class_='navbar-form navbar-right') %}
         {{ macros.render_field(form.email,
                    label_visible=false,
                    placeholder='Email Address',
                    autocomplete='on',
                    type='email') }}
         {{ macros.render_field(form.password,
                    label_visible=false,
                    placeholder='Password',
                    type='password') }}
         {{ macros.render_field(form.next,
                    value=next_page,
                    type='hidden') }}
         {{ macros.render_field(form.next,
                    value=next_page,
                    type='hidden') }}
    {% endcall %}
{% endblock %}

{% block content %}

    <!-- first section - login -->
    <div id="home">
    </div>
    <!-- /first section -->

    <!-- second section - About -->
    <div id="about">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h2 class="text-center">What is RED-I Dropper?</h2> <hr />
                    <p class="lead">
                    RED-I Dropper is a web-based application used to assist in the secure transport of data from one location to another. This transfer can include both sensitive and non-sensitive data.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- /second section -->

    <div id="image2">
    </div>

    <!-- fourth section - Information -->
    <div id="information">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 text-center">
                    <h2 class="text-center">STAR</h2> <hr />
                    <p class="lead">
                        RED-I Dropper is a component of the Software Toolset for Alzheimer's
                        Research (STAR) system created in conjunction with the Alzheimer's
                        Disease Research Consortium. STAR is a cloud of technology services
                        created by CTSI-IT that serves to orchestrate the capture of data and
                        metadata as it flows from each consortium member to form a dataset
                        for analysis that will advance the understanding of Alzheimer's
                        Disease.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- /fourth section -->

    <div id="image2">
    </div>

    <!-- third section - Services -->
    <div id="services">
        <div class="container">
            <h2 class="text-center">Dropper Resources</h2> <hr />
            <div class="row text-center">
                <div class="col-sm-4 col-xs-6">
                    <i class="glyphicon glyphicon-cloud"> </i>
                    <h4>Getting Started</h4>
                    <p></p>
                </div>
                <div class="col-sm-4 col-xs-6">
                    <i class="glyphicon glyphicon-phone-alt"> </i>
                    <h4>Support</h4>
                    <p></p>
                </div>
                <div class="col-sm-4 col-xs-6">
                    <i class="glyphicon glyphicon-bullhorn"> </i>
                    <h4>FAQ</h4>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
    <!-- /third section -->

    <div id="image3">
    </div>

    <!-- fifth section -->
    <div id="gettingstarted">
        <div class="row text-center">
            <h2 class="text-center">Getting Started</h2> <hr />
        </div>
    </div>
    <!-- /fifth section -->

    <div id="image2">
    </div>

    <!-- fifth section -->
    <div id="faq">
        <div class="row text-center">
            <h2 class="text-center">FAQ</h2> <hr />
        </div>
    </div>
    <!-- /fifth section -->

    <div id="image3">
    </div>

    <!-- fifth section -->
    <div id="support">
        <div class="row text-center">
            <h2 class="text-center">Support</h2> <hr />
        </div>
    </div>
    <!-- /fifth section -->


{% endblock %}
