{% extends "layout.html" %}
{% import 'macros.html' as macros %}

{% block login %}
    {% call macros.render_form(form,
                    action_url=url_for('index'),
                    action_text='Login',
                    btn_class='btn btn-default',
                    class_='navbar-form navbar-right') %}
         {{ macros.render_field(form.email,
                    label_visible=false,
                    placeholder='Email Address',
                    autocomplete='on',
                    type='email') }}
         {{ macros.render_field(form.password,
                    label_visible=false,
                    placeholder='Password',
                    type='password') }}
         {{ macros.render_field(form.next,
                    value=next_page,
                    type='hidden') }}
         {{ macros.render_field(form.next,
                    value=next_page,
                    type='hidden') }}
    {% endcall %}
{% endblock %}
{% block content %}
    {% include 'parallax.html' %}
{% endblock %}
