{% extends "index.html" %}

{% block content %}
	<div class="container">
        <form class="form-signin" role="form" align="center" action="{{ url_for('uploaderhome') }}" method="get">
            <h2 class="form-signin-heading" align="center">Login Page</h2>
            <br><br><br>
            <input type="text" class="form-control" name="UNAME" id="UNAME" placeholder="Username" required autofocus>
            <input type="password" class="form-control" name="PSWD" id="PSWD" placeholder="Password" required>
            <br>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
        </form>
    </div>
{% endblock %}