{% extends "index.html" %}

{% block content %}
<link href="{{ url_for('static', filename='css/starter-template.css') }}" rel="stylesheet">
	<div class="container">
        <div class="starter-template">
            <h1>Login Page</h1>
        </div>
        <form class="form-signin" role="form" align="center" action="{{ url_for('uploaderhome') }}" method="get">
            <input type="text" class="form-control" name="UNAME" id="UNAME" placeholder="Username" required autofocus>
            <input type="password" class="form-control" name="PSWD" id="PSWD" placeholder="Password" required>
            <br>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
        </form>
    </div>
{% endblock %}