{% block parallax %}
    <!-- first section - login -->
    <div id="home">
    </div>
    <!-- /first section -->

    <!-- second section - About -->
    <div id="about">
        <div class="container vcenter">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h2>What is RED-I Dropper?</h2> <hr />
                    <p class="lead">
                    RED-I Dropper is a web-based application used to assist in the secure transport of data from one location to another. RED-I Dropper stores raw MRI and PET images that are tagged with metadata that is relevant to image collection date, type and size. RED-I Dropper is accessible over encrypted channel between participating study sites. The <a href="http://www.1floridaadrc.org/" target="_blank">1Florida ADRC</a> uses RED-I Dropper to share images between multiple analysis sites for collaboration and research.</p>

                    <!-- NEEDS TO BE LINKED TO SHIBBOLETH -->
                    <button type="button" class="btn btn-primary btn-large">Login</button>

                    <a href="#signup" type="button" class="btn btn-primary anchorLink btn-large">Sign up</a>
                    <div id="scrolldownicon">
                        <a href="#features" class="anchorLink"> <i class="glyphicon glyphicon-chevron-down go-down"> </i> </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /second section -->

    <!-- third section - Features -->
    <div id="features">
        <div class="container vcenter features_bg">
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="text-center">Features</h2> <hr />
                    <div class="col-sm-6">
                        <h3>
                            <ul class="ul_features">
                                <li>Unlimited image uploads</li>
                                <p>Upload as many files as you need! There are no constraints set on the number of files you upload.</p><br>
                                <li>Multi and single file downloads</li>
                                <p>If you want to download multiple PET or MRI images for your research, you now have the ability to do so.</p><br>
                                <li>Filtered downloads by visit date and image type</li>
                                <p>Options to select and filter only the files pertinent to you. No unnecessary downloads!</p>
                            </ul>
                        </h3>
                    </div>
                    <div class="col-sm-6 text-center">
                        <img alt="RED-I Dropper Device Mock-up" class="img-fluid feature_display_img" src="{{ url_for('static', filename='img/device_mockup.png') }}">
                    </div>
                    <div class="col-sm-12">
                        <div id="scrolldownicon">
                            <a href="#signup" class="anchorLink"> <i class="glyphicon glyphicon-chevron-down go-down"> </i> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /third section -->

    <!-- fourth section - Sign up -->
    <div id="signup">
        <div class="container vcenter signup_border">
            <i class="fa fa-pencil-square-o fa-4x signup_icon"></i>
            <h2 class="text-center">How to sign up?</h2> <hr />
            <div class="row text-center">
                <div class="col-sm-12">
                    <p>In order to sign up for access to RED-I Dropper, the first step is to create an account. To get started please email <a href="mailto:support@1floridaadrc.org?subject=New RED-I Dropper Account&body=Hello, my name is <firstname> <lastname> and I'm interested in signing up for RED-I Dropper.">support@1floridaadrc.org</a> with your first and last name. Someone from the 1Florida ADRC will then contact you to guide you through the additional steps for access.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- /fourth section -->

    <!-- fifth section - Implement at your Institution -->
    <div id="github">
        <div class="container vcenter">
            <div class="row text-center">
                <h2>Are you interested in implementing RED-I Dropper at your own institution? RED-I Dropper is open source and customizable to meet your needs. Check out the source code on our <a href="https://github.com/ctsit/redi-dropper-client" target="_blank">Github repository</a>.</h2> 
            </div>
        </div>
    </div>
    <!-- /fifth section -->

    <!-- sixth section - Cite us -->
    <div id="help">
        <div class="container vcenter help_bg">
            <!-- <div class="row"> -->
                <h2 class="text-center">How can you help?</h2> <hr />
                    <p>Dropper is constantly undergoing improvement and we want to see it used in real world applications. If you are interested in seeing if Dropper can fit your research needs please contact us at <a href="mailto:info@1floridaadrc.org?Subject=Learn%20About%20RED-I%20Dropper" target="_top">info@1floridaadrc.org</a>.</p>
                    <div class="col-sm-8 text-left">
                        <h3>Cite Us</h3>
                        <p>Please reference 1Florida Alzheimer’s Disease Research Center (ADRC) and the Clinical and Translational Science - Informatics and Technology group (CTS-IT) in any research report, journal, or publication that requires citation of authors' work. Recognition of the ADRC and CTS-IT resources used to perform research is important for acquiring funding for the next generation of informatics services and our research and development activities in software development and information science.</p>
                        <p>At minimum, a citation should include: 1Florida Alzheimer’s Disease Research Center and Clinical and Translational Science Informatics and Technology group at the University of Florida</p>
                        <p>Our suggested acknowledgement is (select one or more items within the braces, as appropriate): The authors acknowledge the 1Florida Alzheimer’s Disease Research Center and Clinical and Translational Science Informatics and Technology group at the University of Florida for providing {Python Flask software library, code} resources that have contributed to the research results.</p>
                    </div>
                    <div class="col-sm-3 col-sm-offset-1 text-left">
                        <h3>Open Source</h3>
                        <p>Hack the code, improve the code.</p>
                        <p>Check out our Github page <a href="https://github.com/ctsit/redi-dropper-client" target="_blank">here</a>.</p>
                    </div>
            <!-- </div> -->
        </div>
    </div>
    <!-- /sixth section -->

    <!-- Site footer -->
    <div id="footer">
        <div class="container vcenter">
            <div class="row text-left">
                <div class="col-sm-12 col-md-4">
                        <h3>Sponsors</h3>
                        <p>The activities of the 1Florida Alzheimer's Disease Research Center are sponsored by the National Institute on Aging which governs Alzheimer's Disease Research Centers through the National Alzheimer's Coordinating Center. The 1Florida Alzheimer's Disease Research Center also receives yearly allocations from the Florida legislature 2013-2017.</p>
                    <ul class="list-unstyled">
                        <li>
                            <a href="http://nia.nih.gov"><img class="nia_logo" alt="NIA Logo" src="{{ url_for('static', filename='img/nia-logo-sm.png') }}"></a>

                        </li>
                        <br>
                        <li>
                            <a href="http://alz.washington.edu"><img alt="NACC Logo" src="{{ url_for('static', filename='img/nacc-logo.jpg') }}"></a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 col-md-offset-1">
                    <h3>Partners</h3>
                    <ul class="list-unstyled">
                        <a href="http://med.ufl.edu/" target="blank">
                            <li>University of Florida</li>
                        </a>
                        <a href="http://www.msmc.com/neurosciences/wien-center-for-alzheimers-disease-memory-disorders/" target="blank">
                            <li>Mount Sinai Medical Center</li>
                        </a>
                        <a href="http://www.med.miami.edu/" target="blank">
                            <li>University of Miami</li>
                        </a>
                        <a href="http://medicine.fiu.edu/" target="blank">
                            <li>Florida International University</li>
                        </a>
                        <a href="http://med.fau.edu/" target="blank">
                            <li>Florida Atlantic University</li>
                        </a>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 col-md-offset-1">
                    <h3>Contact Us</h3>
                    <ul class="list-unstyled">
                        <a href="tel:+13522737436">
                            <li><i class="fa fa-phone" aria-hidden="true">&nbsp;</i>352-273-7436</li>
                        </a>
                        <a href="mailto:info@1floridaadrc.org" target="_blank">
                            <li><i class="fa fa-envelope" aria-hidden="true">&nbsp;</i>info@1floridaadrc.org</li>
                        </a>
                        <a href="http://1floridaadrc.org" target="_blank">
                            <li><i class="fa fa-link" aria-hidden="true">&nbsp;</i>www.1FloridaADRC.org</li>
                        </a>
                        <a href="https://www.google.com/maps/place/University+of+Florida/@29.6436325,-82.3571242,17z/data=!3m1!4b1!4m5!3m4!1s0x88e8a30cfbe49275:0x206fe0de143d9886!8m2!3d29.6436325!4d-82.3549302" target="_blank">
                            <li><i class="fa fa-map-marker" aria-hidden="true">&nbsp;</i>1Florida Alzheimer's Disease Research Center</li>
                            <li>PO Box 100159</li>
                            <li>Gainesville, FL 32610</li>
                        </a>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- /Site footer -->

{% endblock %}
