{% block parallax %}
    <!-- first section - login -->
    <div id="home">
    </div>
    <!-- /first section -->

    <!-- second section - About -->
    <div id="about">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h2 class="text-center">What is RED-I Dropper?</h2> <hr />
                    <p class="lead">
                    RED-I Dropper is a web-based application used to assist in the secure transport of data from one location to another. This transfer can include both sensitive and non-sensitive data.</p>
                    <div id="scrolldownicon">
                        <a href="#information" class="anchorLink"> <i class="glyphicon glyphicon-chevron-down go-down"> </i> </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /second section -->

    <div id="image2">
    </div>

    <!-- third section - Information -->
    <div id="information">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 text-center">
                    <div id="stardiv">
                        <h2 class="text-center">STAR</h2> <hr />
                        <p class="lead">
                            RED-I Dropper is a component of the Software Toolset for Alzheimer's
                            Research (STAR) system created in conjunction with the Alzheimer's
                            Disease Research Consortium. STAR is a cloud of technology services
                            created by CTSI-IT that serves to orchestrate the capture of data and
                            metadata as it flows from each consortium member to form a dataset
                            for analysis that will advance the understanding of Alzheimer's
                            Disease.
                        </p>
                        <div id="scrolldownicon">
                            <a href="#services" class="anchorLink"> <i class="glyphicon glyphicon-chevron-down go-down"> </i> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /third section -->

    <div id="image2">
    </div>

    <!-- fourth section - Services -->
    <div id="services">
        <div class="container">
            <h2 class="text-center">Dropper Resources</h2> <hr />
            <div class="row text-center">
                <div class="col-sm-4 col-xs-6">
                    <a href="#gettingstarted" class="anchorLink"> <i class="glyphicon glyphicon-cloud"> </i> </a>
                    <a href="#gettingstarted" class="anchorLink"> <h4>Getting Started</h4> </a>
                </div>
                <div class="col-sm-4 col-xs-6">
                    <a href="#support" class="anchorLink"> <i class="glyphicon glyphicon-phone-alt"> </i> </a>
                    <a href="#support" class="anchorLink"> <h4>Support</h4> </a>
                </div>
                <div class="col-sm-4 col-xs-6">
                    <a href="#faq" class="anchorLink"> <i class="glyphicon glyphicon-bullhorn"> </i> </a>
                    <a href="#faq" class="anchorLink"> <h4>FAQ</h4> </a>
                </div>
            </div>
        </div>
    </div>
    <!-- /fourth section -->

    <div id="image3">
    </div>

    <!-- fifth section - Getting Started -->
    <div id="gettingstarted">
        <div class="container">
            <div class="row text-center">
                <h2 class="text-center">Getting Started</h2> <hr />
            </div>
        </div>
    </div>
    <!-- /fifth section -->

    <div id="image2">
    </div>

    <!-- sixth section - FAQ -->
    <div id="faq">
        <div class="container">
            <div class="row">
                <h2 class="text-center">FAQ</h2> <hr />
                <h3 class="sublead">How do I upload a file?</h3>
                <p class="lead">Click Upload Files link on the side bar.
                    Enter the subject id.
                    Drag and drop the necessary files
                </p>
                <h3 class="sublead">How do I download a file?</h3>
                <p class="lead">Click on the Download link</p>
            </div>
        </div>
    </div>
    <!-- /sixth section -->

    <div id="image3">
    </div>

    <!-- seventh section - Support -->
    <div id="support">
        <div class="container">
            <div class="row text-center">
                <h2 class="text-center">Support</h2> <hr />
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <h4>Location</h4>
                    <address>
                        University of Florida - CTS-IT<br>
                        2405 SW Archer Road<br>
                        Gainesville, FL 32608<br>
                    </address>
                </div>
                <div class="col-sm-3">
                    <h4>Phone Number</h4>
                    <p>(352) 294-5210</p>
                </div>
                <div class="col-sm-3">
                    <h4>Email Address</h4>
                    <p>ctsit@ctsi.ufl.edu</p>
                </div>
                <div class="col-sm-3">
                    <h4>Website</h4>
                    <a href="https://www.ctsi.ufl.edu/research/study-development/informatics-consulting/" target="_blank">CTS-IT Website</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /seventh section -->

{% endblock %}
