{% extends "layout.html" %}

{% block content %}


<div class="container">
    <!-- used by react -->
    <div id="start-upload"> </div>

    <div id="upload-files" hidden>
        <div id="file-drop" class="file-drop-css"
            ondragenter="jQuery(this).addClass('file-dragover-css');"
            ondragend="jQuery(this).removeClass('file-dragover-css');"
            ondrop="jQuery(this).removeClass('file-dragover-css');">
            Drop files here to upload or <a id="file-select" class="resumable-browse">
                <u>select from your computer</u></a>
        </div>

        <!-- Progress Bar -->
        <div id="file-upload-progress-bar" class="progress" hidden>
            <div id="file-upload-progress" class="progress-bar"
                role="progressbar"
                aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                style="width: 0%;">
            </div>
        </div>

        <p class="progress-text" nowrap="nowrap"></p>

        <button id="pause-button" type="submit" class="btn btn-sm btn-primary"
                id="js-upload-submit" hidden> Pause </button>
        <button id="cancel-button" type="submit" class="btn btn-sm btn-primary"
                id="js-upload-submit" hidden> Cancel </button>

        <!-- Upload Finished -->
        <ul class="resumable-list"></ul>
            <div id="files-status" hidden>
                <div id="files-list" class="list-group" style="font-size: 2em">

                </div>
            </div>
        </div>

        <a href="#Subjects" class="btn btn-primary"
            id="upload-complete-button" hidden>Select Another Subject</a>
</div>

<script type="text/jsx"
    src="{{ url_for('static', filename='js/start_upload.js') }}"></script>

<script src="{{ url_for('static', filename='js/manage_event.js') }}"></script>

{% endblock %}
