{% extends "layout.html" %}

{% block content %}

    <div class="starter-template">
        <h1>Technician's Page</h1>
        <p class="lead"> Technicians can upload/download images.</p>
    </div>

	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-9">
				<h3>List of Subjects</h3>
			</div>
		</div>
	</div>

	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>No. of Files</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1</td>
					<td>Sarah</td>
                    <td><a href="/view-subject-files/1">3</a></td>
					<td><button class="btn btn-primary btn">Add</button></td>
				</tr>
				<tr>
					<td>2</td>
					<td>Jane</td>
                    <td><a href="/view-subject-files/2">110</a></td>
					<td><button class="btn btn-primary btn">Add</button></td>
				</tr>
				<tr>
					<td>3</td>
					<td>James</td>
                    <td><a href="/view-subject-files/3">0</a></td>
					<td><button class="btn btn-primary btn">Add</button></td>
				</tr>
			</body>
		</table>
	</div>

    <div id="redcap_subjects_container"> empty </div>

{% endblock %}
