{% extends "layout.html" %}

{% block content %}

    <div class="starter-template">
        <h1>Technician's Page</h1>
        <p class="lead"> Technicians can upload/download images.</p>
    </div>

	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-9">
				<h3>List of Subjects</h3>
			</div>
		</div>
	</div>

	 {{ subject_id }}

	<div id="no-table-data-error" class="no-table-data">
	</div>
	<div class="table-responsive">
		<table id="technician-table" class="table table-striped" hidden>
			<thead>
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>No. of Files</th>
					<th></th>
				</tr>
			</thead>
			<tbody id="technician-table-body">
			</body>
		</table>
	</div>

{% endblock %}
