# Usage: pip install -r requirements.txt
# @TODO: add developer-specific requirements

# Flask Framework
Flask==0.10.1
Flask-SQLAlchemy==2.0
MySQL-python==1.2.5


Flask-User==0.6.1
Flask-WTF==0.10.2

# == Dependencies
# Flask-Mail
# Flask-Login
# py-bcrypt


# == Shibboleth http://flask-sso.readthedocs.org/en/latest/#a-minimal-example
#flask-sso


# for development
# Flask-DebugToolbar==0.9.2
pytest==2.7.0
pytest-cov==1.8.1
