{% extends "layout.html" %}

{% block content %}

    <div class="starter-template">
      <h1>Contact Us</h1>
    </div>

    <form role="form" action="" method="post">
      <div class="col-lg-6">
        <div class="form-group">
          <label for="InputName">Your Name</label>
          <input type="text" class="form-control" name="InputName" id="InputName" placeholder="Enter Name" required>
        </div>
        <div class="form-group">
          <label for="InputEmail">Your Email</label>
          <input type="email" class="form-control" id="InputEmail" name="InputEmail" placeholder="Enter Email" required>
        </div>
        <div class="form-group">
          <label for="InputMessage">Message</label>
          <textarea name="InputMessage" id="InputMessage" class="form-control" rows="5" required></textarea>
        </div>
        <input type="submit" name="submit" id="submit" value="Submit" class="btn btn-info pull-right">
      </div>
    </form>
    <hr class="featurette-divider hidden-lg">
    <div class="col-lg-5 col-md-push-1">
      <address>
        <h3>Office Location</h3>
        <p class="lead">
            <a href="https://www.google.com/maps/preview?ie=UTF-8&q=The+Pentagon&fb=1&gl=us&hq=1400+Defense+Pentagon+Washington,+DC+20301-1400&cid=12647181945379443503&ei=qmYfU4H8LoL2oATa0IHIBg&ved=0CKwBEPwSMAo&safe=on">The REDI-Dropper</a>
            <br /> Phone: 
            <br /> Fax:
            <br /> Email: <a href="emailto:ctsi-it-dl@ufl.edu"ctsi-it-dl@ufl.edu</a>
        </p>
      </address>
    </div>

{% endblock %}
