.custom-modal { /* The actual box, centered in the fixed-position div */
    width:150%; /* Whatever width you want the box to be */
    position:relative;
    margin:0 auto;

    background-color: #383838;
    font-family: Calibri;
    font-size: 20px;
    color: #F0F0F0;
    padding:10px;
}

.custom-main-modal-wrap { /* The div that shows/hides. */
    z-index:80001; /* High z-index to ensure it appears above all content */
}

.custom-modal-offset { /* Fixed position to provide the vertical offset */
    position:fixed;
    top:15%;
    right:10%;
    z-index:80002; /* ensures box appears above overlay */
}

.red-background {
    background-color: #993333;
}

.purple-background {
    background-color: #4b4080;
}

a.logo-name:hover, a.logo-name:active,
ul.sidebar-nav li a:hover, ul.sidebar-nav li a:active {
    color: #FFF !important;
}

.logo_landing {
    height: 60px;
}

.navbar-brand {
    padding: 0;
}

.navbar {
    border: none;
    margin-bottom: 0;
}

.form-control:focus {
    border-color: #20c8ca;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgb(112, 203, 204);
}

h1, h2 {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 38px;
}

h2 {
    font-size: 28px;
}

h3, body, p, .form-control, a {
    font-family: 'Hind', sans-serif;
}

body, p, .form-control {
    font-size: 18px;
}

a, a:visited { 
    color: #20c8ca;
    font-size: inherit;
}

a:hover, a:focus {
    text-decoration: underline;
    color: #70cbcc;
}

.btn-large {
    margin: 10px;
    padding: 13px 35px;
}

.btn-default, .btn-primary  {
    border: none;
}

.btn, a.btn {
    text-transform: uppercase;
    background-color: #18a5a6;
    color: white;
    font-size: 18px;
}

.cta {
    background-color: #ffa110;
}

.btn.cta:hover, .btn.cta:focus {
    background-color: #f3c173;
}

.btn:hover, .btn:focus {
    background-color: #70cbcc;
    color: white;
}

th.header {
    background-image: url(/static/img/small.gif);
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: bold;
}

th.header:hover {
    background-color: #efefef;
}


th.header.headerSortUp {
    background-image: url(/static/img/small_asc.gif);
}

th.header.headerSortDown {
    background-image: url(/static/img/small_desc.gif);
}

table.borderless td, table.borderless th {
    border: none !important;
}

.bordered {
    border: solid 1px black;
}

.login-form-container {
    margin-top: 3em;
    padding: 3em;
    background-color: #993333;
}

.footer {
    min-height: 40px;
    padding-top: 5px;
    color: #888;
}

.subject-button{
    margin: .5rem;
    float: left;
}

.search-subjects{
    margin-bottom: 1rem;
}
