"""
Goal: Override configs for developers
"""

# REDCap project configs
REDCAP_API_URL = 'https://example.com/redcap/api/'
REDCAP_API_TOKEN = 'change_me_32_chars'
REDCAP_DEMOGRAPHICS_FIELDS = 'subject_id,subject_first,subject_last'


# SSL Certificate config
SERVER_SSL_KEY_FILE = '/etc/apache2/ssl/dropper.ctsi.ufl.edu.key'
SERVER_SSL_CRT_FILE = '/etc/apache2/ssl/dropper.ctsi.ufl.edu.crt'


# @see http://flask.pocoo.org/docs/0.10/config/
SERVER_NAME = 'localhost:5000'

DEBUG = True

# Set to True in order to view every redirect
DEBUG_TB_INTERCEPT_REDIRECTS = False

# Generate with: python import os; os.urandom(24)
#   or python -c 'import os, binascii; x = os.urandom(24); y = binascii.hexlify(x); print y, len(y)'
SECRET_KEY = '41a6622cd15b11035aa24461e5edd9ec0748740fd0cbd617'

DB_USER = 'redidropper'
DB_PASS = 'insecurepassword'
DB_HOST = 'localhost'
DB_NAME = 'RediDropper'
SQLALCHEMY_DATABASE_URI = 'mysql://{}:{}@{}/{}' \
            .format(DB_USER, DB_PASS, DB_HOST, DB_NAME)
